@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: ;
}
body {
    font-family: 'Roboto', sans-serif;
    background: rgb(14,0,250);
    background: linear-gradient(189deg, rgba(14,0,250,1) 0%, rgba(91,91,245,1) 27%, rgba(0,212,255,1) 61%, rgba(0,212,255,1) 81%);
}
a {
    text-decoration: none;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    height: 100px;
    padding: 5px;
    margin: 5px;
    color: rgb(5, 5, 5);
}
header.h2 {
    padding: 4px 4px 4px 4px;
}
.logo {
    max-height: 300px;
    margin: 10px;
    padding: 10px;
    transition-duration: 0.6s;
    border-radius:5px;
}
.logo:hover{
    color: rgb(35, 34, 34);
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    background-color: #f3f6f88a;
    transform: translateY(-2%) translateX(-1%);
    cursor: pointer;
}
.menu {
    font-weight: 300;
}
.nav-link {
    color: black;
    transition-duration: 0.6s;
    padding: 10px;
    width: max-content;
    border-radius: 5px;
}
.nav-link:hover{
    color: rgb(35, 34, 34);
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-2%) translateX(-1%);
}

#description {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    text-align: center;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    width: fit-content;
    padding: 2rem ;
    margin: auto;
    border-radius: 5px;

    
}
#infoSection {
    margin: 0 auto;
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}
#fotoPerfil {
    height: 500px;
    border-radius: 5px;
}

.blogsection {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.post {
    width: 100%;
    max-width: 350px;
    margin: 1rem;
    border-radius: 5px;
    padding: 5px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.post:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-2%) translateX(-1%);
}
.post h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}
.post h3 {
    height: 2rem;
    padding-bottom: 4px;
    justify-content: center;
    padding: 10px;
    text-align: justify;
}
.articulo {
    padding: 5px 20px;
    text-align: justify;
    font-weight: 400;
    height: 4rem;
    overflow: hidden;
}
.foto {
    height: 250px;
    width: 100%;
    border-radius: 10px;
    padding: 2px;
    overflow: hidden;
    position: relative;
}
.foto img {
    position: absolute;
    bottom: 0;
    min-width: 100px;
    width: 100%;
    height: auto;
    border-radius: 5px;
    padding: 5px;

}
.leerMas {
    width: 150px;
    height: 50px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 5px;
    color: black;
    font-family: sans-serif;
    font-weight: 200;
    border: none;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
}
.leerMas:hover {
    color: rgb(35, 34, 34);
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-2%) translateX(-1%);
}

@media (max-width: 620px) {
    .header {
        height: 60px;
    }
    .menu {
        justify-content:space-between;
    }
    .post {
        justify-content: center;
        align-items: center;
    }
    .blogsection {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.contacSection {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form {
    display: flex;
    flex-direction: column;
    background-color: #f3f6f8;
    padding: 5%;
    gap: 5px;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    border-radius: 5px;
}
input {
    width: 90%;
    background: none;
    font-size: 1.2rem;
    padding: .6em .3em;
    border: none;
    outline: none; 
    transition: all 400ms ease;
    width: 90%;
    height: 1.5rem;
    border-radius: 5px;
    display: flex;
    color: rgb(35, 34, 34);
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    font-weight: bolder;
}
input:hover,
input:focus,
label:focus-within {
    background-color: white;
    transform: translateY(-3px) translateX(-2px);
}

textarea {
    font-family: "roboto";
    border-radius: 5px;

    background: none;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    outline: none;
    border: none;
    transition: all 400ms ease-in-out;
}
#comentario {
    text-align: justify;
    transition: all 400ms ease-in-out;
}
textarea:hover,
textarea:focus {
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3px) translateX(-2px);
    background-color: white;
}
.cajaBotones {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    font-family: "roboto";
}
.cajaBotones button {
    font-size: 1rem;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
    border: none;
    width: 150px;
    height: 1.5rem;
    background: none;
}
.cajaBotones button:active {
    transform: translateY(2px) translateX(2px);
    box-shadow: 3px 3px 2px rgba(0,0,0,0.4);
    background-color: aliceblue;
}
.checkbox {
    padding: 0px;
  }

footer {
    height: 200px;
    width: auto;
    display: flex;
    align-items: center;
}
footer .MediaIcons {
    flex-direction: column;
    display: flex;
}
.MediaIcons img {
    height: 50px;
    width: 50px;
    padding: 5px;
}