@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f3f6f8;
    height: 100px;
    padding: 5px;
    margin: 5px;
    color: rgb(5, 5, 5);
}
header.h2 {
    padding: 4px 4px 4px 4px;
}
.logo {
    max-height: 300px;
    margin: 10px;
    padding: 10px;
    transition-duration: 0.6s;
    border-radius:5px;
}
.logo:hover{
    color: rgb(35, 34, 34);
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-2%) translateX(-1%);
    cursor: pointer;
}
.menu {
    font-weight: 300;
}
.nav-link {
    color: black;
    transition-duration: 0.6s;
    padding: 10px;
    width: max-content;
    border-radius: 5px;
}
.nav-link:hover{
    color: rgb(35, 34, 34);
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-2%) translateX(-1%);
}

#descripcion {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    text-align: center;
}
.blogsection {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.post {
    width: 100%;
    max-width: 350px;
    margin: 1rem;
    border-radius: 5px;
    padding: 5px;
    overflow: hidden;
    background-color: #f3f6f8;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.post:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-2%) translateX(-1%);
}
.post h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}
.post h3 {
    height: 2rem;
    padding-bottom: 4px;
    justify-content: center;
    padding: 10px;
    text-align: justify;
}
.articulo {
    padding: 5px 20px;
    text-align: justify;
    font-weight: 400;
    height: 4rem;
    overflow: hidden;
}
.foto {
    height: 300px;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.foto img {
    position: absolute;
    bottom: 0;
    min-width: 100px;
    width: 100%;
    height: auto;
    border-radius: 5px;
    padding: 5px;
}
.leerMas {
    width: 150px;
    height: 50px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 5px;
    color: black;
    font-family: sans-serif;
    font-weight: 200;
    border: none;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
}
.leerMas:hover {
    color: rgb(35, 34, 34);
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-2%) translateX(-1%);
    font-weight: bolder;
}

@media (max-width: 620px) {
    .header {
        height: 60px;
    }
    .menu {
        justify-content:space-between;
    }
    .post {
        justify-content: center;
        align-items: center;
    }
    .blogsection {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.contacSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contacSection label {
    border-radius: 5px;
    background-color: aqua;
    padding: 10px;
    
}
form {
    display: flex;
    flex-direction: column;
}
