body {
    font-family: sans-serif;
    margin: 0px;
}
a {
    text-decoration: none;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f3f6f8;
    height: 100px;
    padding: 5px;
    margin: 5px;
    color: rgb(5, 5, 5);
}
header.h2 {
    padding: 4px 4px 4px 4px;
}
.logo {
    max-height: 300px;
    margin: 10px;
    padding: 10px;
    border-color: white;
    box-shadow: 0 0 2000px rgba(255, 255, 255, .5);
    transition-duration: 0.6s;
    
}
.logo:hover{
    background-color: rgba(216, 233, 238, 0.847);
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(217, 215, 215);
    border-color: #f3f6f8;
    cursor: pointer;
}
.menu {
    font-weight: 300;
}
.nav-link {
    color: black;
    transition-duration: 0.6s;
    padding: 10px;
    width: max-content;
}
.nav-link:hover{
    color: rgb(35, 34, 34);
    background-color: rgba(60, 60, 60, 0.2);
    border-radius: 5px;

}
.blogsection {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 30px 15px;
}
#descripcion {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    text-align: center;
}
.post {
    border: 3px;
    border-radius: 5px;
    margin: 1rem,2rem, 1rem, 2rem;
    padding: 1rem ;
    background-color: rgba(15, 145, 145, 0.3)
    
}
.post h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}
.post p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
article {
    padding: 5px 20px;
}

#foto {
    height: 300px;
    position: 5rem, 5rem, 5rem, 5rem;
    border-radius: 5px;

}


@media (max-width: 768px) {
    .header {
        height: 60px;
    }
    .menu {
        
        justify-content:space-between;
    }}